html, body {
    height: 100%; /* Garante que o html e body ocupem toda a altura da página */
    margin: 0; /* Remove a margem padrão */
  }
  
  body {
    background-color: rgb(0, 0, 0);
    color: white;
    display: flex;
    justify-content: center; /* Centraliza o conteúdo horizontalmente */
    align-items: center; /* Centraliza o conteúdo verticalmente */
  }
  
  .viagens {
    background-color: #afafaf2d;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px; /* Aumente o padding para mais espaço interno */
    border-radius: 10px;
    width: 80%; /* Faz com que o componente Viagens ocupe toda a largura da página */
  }
  
  .select-container {
    margin: 20px 0; /* Aumenta a margem para mais espaço entre os seletores */
    width: 100%; /* Faz com que o container do seletor ocupe toda a largura do componente Viagens */
  }
  
  select, input[type="date"] {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-top: 5px;
    width: 100%; /* Faz com que o seletor ocupe toda a largura do container do seletor */
  }
  
  button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px; /* Aumenta a margem acima do botão para mais espaço */
    width: 100%; /* Faz com que o botão ocupe toda a largura do componente Viagens */
  }
  
  button:hover {
    background-color: #0056b3;
  }
  